.adminer table {
	background-color: white;
}

.adminer table, .adminer table * {
	border-color: rgba(0, 0, 0, .125);
}

.adminer .table-content {
	display: inline-block;
}

.adminer .table-content-FILE {
	white-space: nowrap;
}

.adminer .table-content-TEXT {
	white-space: normal;
	word-break: break-all;
	min-width: 300px;
}

.adminer input[type=checkbox],
.adminer input[type=radio] {
	width: 1.2rem;
	height: 1.2rem;
	vertical-align: middle;
}

.adminer .dashed {
	border-bottom: 1px dashed grey;
}

.adminer .group_header {
	display: block;
	border: 1px solid #DDD;
	padding: 5px;
	background-color: white;
	text-align: center;
}

.adminer .sort {
	padding: 0;
	background: #f7f7f9;
	white-space: nowrap;
	word-break: normal;
	font-weight: 500;
}

.adminer .sort.active {
	background: #b3ffff;
}

.adminer .sort a,
.adminer .sort span {
	display: inline-block;
	width: 100%;
	padding: 0.75rem;

}

.adminer .sort a:hover {
	text-decoration: none;
	background: #66ffff;
}

.adminer .sortable {
	padding: 0;
	border: 1px solid #eee;
	width: 100%;
	min-height: 200px;
	list-style-type: none;
}

.adminer .sortable li {
	margin: 5px;
	padding: 5px;
	cursor: move;
	border: 1px solid #ddd;
	background-color: #eee;
}

.adminer .sortable .sortable-placeholder {
	margin: 5px;
	padding: 5px;
	cursor: move;
	border: 1px dashed #ddd;
	background-color: #fff;
	height: 37px;
}

.adminer .btn,
.adminer .form-control {
	border-radius: 0 !important;
}

.adminer .sort-icon {
	width: 1.5rem;
	text-align: center;
	float: right;
	background-color: white;
}

.adminer .tab-content {
	background-color: white;
	padding: 4px;
	border: 1px solid #ddd;
	border-top: none;
}

.adminer .tab-element {
	border: 1px solid #ddd;
	padding: 8px;
	background-color: #f5f5f5;
}

.adminer .mandatory:after {
	color: red;
	content: '*';
}