.adminer,
.adminer .btn {
	font-size: 0.9rem;
}

.adminer table {
	background-color: white;
}

.adminer table, .adminer table * {
	border-color: rgba(0, 0, 0, .125);
}

.adminer .table-content {
	display: inline-block;
}

.adminer .table-content-FILE {
	white-space: nowrap;
}

.adminer .table-content-TEXT {
	white-space: normal;
	word-break: break-all;
	min-width: 300px;
}

.adminer input[type=checkbox],
.adminer input[type=radio] {
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	vertical-align: middle;
}

.adminer .dashed {
	border-bottom: 1px dashed grey;
}

.adminer .group_header {
	display: block;
	border: 1px solid #CCC;
	padding: 5px;
	background-color: #DDD;
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.adminer .sort {
	padding: 0;
	background: #f7f7f9;
	white-space: nowrap;
	word-break: normal;
	font-weight: 500;
}

.adminer .sort.active {
	background: #DDD;
}

.adminer .sort a,
.adminer .sort span {
	display: inline-block;
	width: 100%;
	padding: 0.75rem;

}

.adminer .sort a:hover {
	text-decoration: none;
	background: #CCC;
}

.adminer .sortable {
	padding: 0;
	border: 1px solid #eee;
	width: 100%;
	min-height: 200px;
	list-style-type: none;
}

.adminer .sortable li {
	margin: 5px;
	padding: 5px;
	cursor: move;
	border: 1px solid #ddd;
	background-color: #eee;
}

.adminer .sortable .sortable-placeholder {
	margin: 5px;
	padding: 5px;
	cursor: move;
	border: 1px dashed #ddd;
	background-color: #fff;
	height: 37px;
}

.adminer .btn,
.adminer .form-control {
	border-radius: 0 !important;
}

.adminer .sort-icon {
	display: inline-block;
	width: 1rem;
	text-align: center;
	background-color: white;
}

.adminer .tab-content {
	background-color: white;
	padding: 4px;
	border: 1px solid #ddd;
}

.adminer .tab-content.tab-content-no-top-border {
	border-top: none;
}

.adminer .tab-element {
	border: 1px solid #ddd;
	padding: 8px;
	background-color: #f5f5f5;
}

.adminer .mandatory:after {
	color: red;
	content: '*';
}

.adminer .vital {
	font-weight: bold;
}

.adminer .red {
	color: red;
}

.adminer iframe.external {
	border: none;
	width: 100%;
	min-height: 400px;
}

.adminer ul {
	margin-bottom: 0;
	padding-left: 1rem;
}

.adminer ul.pagination {
	padding-left: 0;
}

.adminer .hidden {
	visibility: hidden;
	display: none;
}

/* SELECT 2 */
.adminer .select2-container--bootstrap .select2-selection {
	border-radius: 0;
	min-height: calc(2.25rem + 2px);
	font-size: 1rem;
	padding: .375rem .75rem;
}

.adminer .select2-container--bootstrap .select2-selection.select2-selection--multiple {
	padding: 4px;
}

.adminer .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
	margin: 2px;
	border-radius: 0;
	background-color: #EEE;
	padding: 4px;
}

.adminer .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
	margin: 2px;
}

/* list of element, separated by comma */
.adminer ul.comma {
	margin: 0;
	padding: 0;
}

.adminer ul.comma li {
	display: inline;
}

.adminer ul.comma li:after {
	content: ", ";
}

.adminer ul.comma li:last-child:after {
	content: "";
}

.adminer .enum {
	padding: .5rem;
	margin: 0;
}

.adminer .form-group {
	margin-bottom: 0.5rem;
}