body {
    font-family: 'Roboto', sans-serif;
    background-image: url("img/body.png");
}

.header {
    background-image: url("img/header.png");
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.sidebar {
    border-right: 1px solid rgba(0,0,0,.125);
    background-color: #f7f7f9;
    min-height: calc(100vh - 55px);
}