ErrorDocument 404 /site/root/404.html
ErrorDocument 500 /site/root/500.html

php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on

<IfModule mod_dir.c>
	DirectoryIndex index.php .controller.php
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On

	# если [в запросе нет точек] и [он не заканчивается на слеш]
	# то [автодополняет слешем конец запроса]
	RedirectMatch ^([^\.]*[^/])$ $1/

	# если [запрос на php файл] или [запрос на директорию]
	# то [перенаправляет запрос в движок]
	RewriteCond %{REQUEST_URI} !/site/engine.php$
	RewriteRule ^[^\.]*$|\.php$ /site/engine.php [L]

	# если [запрос на статичный существующий файл]
	# то [ничего не изменяет]
	RewriteCond %{REQUEST_FILENAME} -f
	RewriteRule (.*) $1 [L]

	# автодополнение /site/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{DOCUMENT_ROOT}/site/%{REQUEST_URI} -f
	RewriteRule (.*) /site/$1 [L]

	# автодополнение /root/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{DOCUMENT_ROOT}/root/%{REQUEST_URI} -f
	RewriteRule (.*) /root/$1 [L]

</IfModule>