ul.menu, ul.menu ul {
	list-style-type: none;
	padding-left: 1rem;
}

ul.menu {
	padding-left: 0;
}

.menu a {
	display: block;
	padding: 0.25rem;
	white-space: nowrap;
	overflow: hidden;
}

.menu a {
	text-decoration: none !important;
	color: black;
}

.menu a.active {
	background-color: rgba(127, 127, 127, 0.25);
}

.menu a:hover {
	text-decoration: none !important;
	background-color: rgba(255, 255, 255, 0.5);
}

.menu .fa-level {
	color: rgba(0, 0, 0, .25);
}

.menu .fa-vs {
	font-size: 0.33em;
	vertical-align: middle;
}