.menu-title {
	padding: 0.25rem;
	text-align: center;
	background-color: rgba(1, 1, 1, 0.1);
}

ul.menu, ul.menu ul {
	list-style-type: none;
	padding-left: 1rem;
	font-size: 0.9rem;
}

ul.menu {
	padding-left: 0;
}

.menu a {
	display: block;
	padding: 0.25rem;
	white-space: nowrap;
	overflow: hidden;
}

.menu .item {
	text-decoration: none !important;
	color: black;
}

.menu .item.active {
	background-color: rgba(127, 127, 127, 0.1);
}

.menu .item.current {
	background-color: rgba(127, 127, 127, 0.25);
}

.menu .item:hover {
	text-decoration: none !important;
	background-color: rgba(255, 255, 255, 0.5);
}

.menu li > a > span {
	display: flex;
	align-items: center;
}

.menu .icon-item,
.menu .icon-category {
	display: inline-block;
	height: 16px;
	width: 16px;
}

.menu .icon-item {
	background-image: url('img/item.png');
}

.menu .icon-category {
	background-image: url('img/category.png');
}